<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cliente</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>

 /*SPINNER*/
 #overlay{	
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
        height:100%;
        display: none;
        background: rgba(0,0,0,0.6);
      }
      .cv-spinner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;  
      }
      .spinner {
        width: 40px;
        height: 40px;
        border: 4px #ddd solid;
        border-top: 4px #2e93e6 solid;
        border-radius: 50%;
        animation: sp-anime 0.8s infinite linear;
      }
      @keyframes sp-anime {
        100% { 
          transform: rotate(360deg); 
        }
      }
      .is-hide{
        display:none;
      }
</style>
<script>
    $(document).ready(function () {
            $('#datos1').DataTable(
            {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                }
            } 
            );
        });
    
    $(document).ready(function () {
            $('#datos2').DataTable(
                {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                }
            } 
            );
        });

        $(document).ready(function(){
            $('#IDOBSERVACIONRECIBIDO').change(function(){
                var sel = $("#IDOBSERVACIONRECIBIDO option:selected").html();
                $("#OBSERVACIONRECIBIDO").val(sel);
                console.log(sel);
            });
        });

        $(document).ready(function(){
            $('#botonGuardar').click(function(){
                var sel = $("#IDOBSERVACIONRECIBIDO option:selected").html();
                $("#OBSERVACIONRECIBIDO").val(sel);
                console.log(sel);
            });
        });

       function devolverEquipo(id)
       {
           document.getElementById('IDPRESTAMOEQUIPOS').value = id;
           console.log(id);
       }
</script>
</head>
<body>
    <div id="overlay">
        <div class="cv-spinner">
            <span class="spinner"></span>
        </div>
    </div> 

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-a-tab" data-bs-toggle="tab" data-bs-target="#nav-a" type="button" role="tab" aria-controls="nav-a" aria-selected="true">Grupo A</button>
          <button class="nav-link" id="nav-b-tab" data-bs-toggle="tab" data-bs-target="#nav-b" type="button" role="tab" aria-controls="nav-b" aria-selected="false">Grupo B</button>
          <button class="nav-link" id="nav-c-tab" data-bs-toggle="tab" data-bs-target="#nav-c" type="button" role="tab" aria-controls="nav-c" aria-selected="false">Grupo C</button>
          <button class="nav-link" id="nav-d-tab" data-bs-toggle="tab" data-bs-target="#nav-d" type="button" role="tab" aria-controls="nav-d" aria-selected="false">Grupo D</button>
          <button class="nav-link" id="nav-e-tab" data-bs-toggle="tab" data-bs-target="#nav-e" type="button" role="tab" aria-controls="nav-e" aria-selected="false">Grupo E</button>
          <button class="nav-link" id="nav-f-tab" data-bs-toggle="tab" data-bs-target="#nav-f" type="button" role="tab" aria-controls="nav-f" aria-selected="false">Grupo F</button>
          <button class="nav-link" id="nav-g-tab" data-bs-toggle="tab" data-bs-target="#nav-g" type="button" role="tab" aria-controls="nav-g" aria-selected="false">Grupo G</button>
          <button class="nav-link" id="nav-h-tab" data-bs-toggle="tab" data-bs-target="#nav-h" type="button" role="tab" aria-controls="nav-h" aria-selected="false">Grupo H</button>        
          <% if (cliente) { %>
            <button class="btn btn-outline-dark" ><%= cliente.NOMBRE1 %> <%= cliente.APELLIDO1 %></button>
          <% } %>
        </div>        
      </nav>
    <form id="myForm"  action="/actualizarResultados" method ="POST">
      <div class="container">
          
          <div class="tab-content  " id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-a" role="tabpanel" aria-labelledby="nav-a-tab" tabindex="0">
            <H2>GRUPO A</H2>
            <hr>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">EQUIPO 1</th>
                      <th scope="col">MARCADOR</th>
                      <th scope="col">EQUIPO 2</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    <% predi.forEach((user)=> {%>
                      <tr>
                      <% if (user.GRUPO === 'A') { %>
                        <td scope="row">
                            <img src="<%= user.IMAGENEQUIPO1 %>" style="width:100px ; height:70px ; margin-right: 30px;" /><%= user.EQUIPO1 %>
                        </td>
                        <td>
                              <% if (user.MODIFICA === 'S' ||  user.FECHAPARTIDO < fecha) { %>
                                <input  type="text"  name="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>"  value="<%= user.RESULTADO1 %>" style="width: 30px;border-radius: 15px;text-align: center;" readonly> -                     

                                <input  type="text"  name="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" value="<%= user.RESULTADO2 %>" style="width: 30px;border-radius: 15px;text-align: center;" readonly>               
                              <% } else{ %>
                                
                                <input  type="text"  name="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>"  value="<%= user.RESULTADO1 %>" style="width: 30px;border-radius: 15px;text-align: center;" > -                     

                                <input  type="text"  name="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" value="<%= user.RESULTADO2 %>" style="width: 30px;border-radius: 15px;text-align: center;" >               
                              <% } %>

                        </td>
                        <td>
                            <img src="<%= user.IMAGENEQUIPO2 %>" style="width:100px ; height:70px ; margin-right: 30px;" /><%= user.EQUIPO2 %>
                        </td>
                      <% } %>
                    </tr>
                    <% }) %>                     
                    
                  </tbody>
                </table>
                
          </div>
            <div class="tab-pane fade" id="nav-b" role="tabpanel" aria-labelledby="nav-b-tab" tabindex="0">
            <H2>GRUPO B</H2>
            <hr>
              
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">EQUIPO 1</th>
                  <th scope="col">MARCADOR</th>
                  <th scope="col">EQUIPO 2</th>
                </tr>
              </thead>
              <tbody>
                
                <% predi.forEach((user)=> {%>
                  <tr>
                  <% if (user.GRUPO === 'B') { %>
                    <td scope="row">
                        <img src="<%= user.IMAGENEQUIPO1 %>" style="width:100px ; height:70px ; margin-right: 30px;" /><%= user.EQUIPO1 %>
                    </td>
                    <td>
                      <% if (user.MODIFICA === 'S' ||  user.FECHAPARTIDO < fecha) { %>
                        <input  type="text"  name="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>"  value="<%= user.RESULTADO1 %>" style="width: 30px;border-radius: 15px;text-align: center;" readonly> -                     

                        <input  type="text"  name="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" value="<%= user.RESULTADO2 %>" style="width: 30px;border-radius: 15px;text-align: center;" readonly>               
                      <% } else{ %>
                        
                        <input  type="text"  name="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>"  value="<%= user.RESULTADO1 %>" style="width: 30px;border-radius: 15px;text-align: center;" > -                     

                        <input  type="text"  name="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" value="<%= user.RESULTADO2 %>" style="width: 30px;border-radius: 15px;text-align: center;" >               
                      <% } %>

                    </td>
                    <td>
                        <img src="<%= user.IMAGENEQUIPO2 %>" style="width:100px ; height:70px ; margin-right: 30px;" /><%= user.EQUIPO2 %>
                    </td>
                  <% } %>
                </tr>
                <% }) %>                     
                
              </tbody>
            </table>
            </div>
            <div class="tab-pane fade" id="nav-c" role="tabpanel" aria-labelledby="nav-c-tab" tabindex="0">
              <H2>GRUPO C</H2>
              <hr>
              
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">EQUIPO 1</th>
                    <th scope="col">MARCADOR</th>
                    <th scope="col">EQUIPO 2</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <% predi.forEach((user)=> {%>
                    <tr>
                    <% if (user.GRUPO === 'C') { %>
                      <td scope="row">
                          <img src="<%= user.IMAGENEQUIPO1 %>" style="width:100px ; height:70px ; margin-right: 30px;" /><%= user.EQUIPO1 %>
                      </td>
                      <td>
                        <% if (user.MODIFICA === 'S' ||  user.FECHAPARTIDO < fecha) { %>
                          <input  type="text"  name="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>"  value="<%= user.RESULTADO1 %>" style="width: 30px;border-radius: 15px;text-align: center;" readonly> -                     

                          <input  type="text"  name="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" value="<%= user.RESULTADO2 %>" style="width: 30px;border-radius: 15px;text-align: center;" readonly>               
                        <% } else{ %>
                          
                          <input  type="text"  name="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>"  value="<%= user.RESULTADO1 %>" style="width: 30px;border-radius: 15px;text-align: center;" > -                     

                          <input  type="text"  name="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" value="<%= user.RESULTADO2 %>" style="width: 30px;border-radius: 15px;text-align: center;" >               
                        <% } %>
  
                      </td>
                      <td>
                          <img src="<%= user.IMAGENEQUIPO2 %>" style="width:100px ; height:70px ; margin-right: 30px;" /><%= user.EQUIPO2 %>
                      </td>
                    <% } %>
                  </tr>
                  <% }) %>                     
                  
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="nav-d" role="tabpanel" aria-labelledby="nav-d-tab" tabindex="0">
              <H2>GRUPO D</H2>
              <hr>
              
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">EQUIPO 1</th>
                    <th scope="col">MARCADOR</th>
                    <th scope="col">EQUIPO 2</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <% predi.forEach((user)=> {%>
                    <tr>
                    <% if (user.GRUPO === 'D') { %>
                      <td scope="row">
                          <img src="<%= user.IMAGENEQUIPO1 %>" style="width:100px ; height:70px ; margin-right: 30px;" /><%= user.EQUIPO1 %>
                      </td>
                      <td>
                        <% if (user.MODIFICA === 'S' ||  user.FECHAPARTIDO < fecha) { %>
                          <input  type="text"  name="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>"  value="<%= user.RESULTADO1 %>" style="width: 30px;border-radius: 15px;text-align: center;" readonly> -                     

                          <input  type="text"  name="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" value="<%= user.RESULTADO2 %>" style="width: 30px;border-radius: 15px;text-align: center;" readonly>               
                        <% } else{ %>
                          
                          <input  type="text"  name="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>"  value="<%= user.RESULTADO1 %>" style="width: 30px;border-radius: 15px;text-align: center;" > -                     

                          <input  type="text"  name="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" value="<%= user.RESULTADO2 %>" style="width: 30px;border-radius: 15px;text-align: center;" >               
                        <% } %>
  
                      </td>
                      <td>
                          <img src="<%= user.IMAGENEQUIPO2 %>" style="width:100px ; height:70px ; margin-right: 30px;" /><%= user.EQUIPO2 %>
                      </td>
                    <% } %>
                  </tr>
                  <% }) %>                     
                  
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="nav-e" role="tabpanel" aria-labelledby="nav-e-tab" tabindex="0">
              <H2>GRUPO E</H2>
              <hr>
              
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">EQUIPO 1</th>
                    <th scope="col">MARCADOR</th>
                    <th scope="col">EQUIPO 2</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <% predi.forEach((user)=> {%>
                    <tr>
                    <% if (user.GRUPO === 'E') { %>
                      <td scope="row">
                          <img src="<%= user.IMAGENEQUIPO1 %>" style="width:100px ; height:70px ; margin-right: 30px;" /><%= user.EQUIPO1 %>
                      </td>
                      <td>
                        <% if (user.MODIFICA === 'S' ||  user.FECHAPARTIDO < fecha) { %>
                          <input  type="text"  name="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>"  value="<%= user.RESULTADO1 %>" style="width: 30px;border-radius: 15px;text-align: center;" readonly> -                     

                          <input  type="text"  name="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" value="<%= user.RESULTADO2 %>" style="width: 30px;border-radius: 15px;text-align: center;" readonly>               
                        <% } else{ %>
                          
                          <input  type="text"  name="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>"  value="<%= user.RESULTADO1 %>" style="width: 30px;border-radius: 15px;text-align: center;" > -                     

                          <input  type="text"  name="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" value="<%= user.RESULTADO2 %>" style="width: 30px;border-radius: 15px;text-align: center;" >               
                        <% } %>
  
                      </td>
                      <td>
                          <img src="<%= user.IMAGENEQUIPO2 %>" style="width:100px ; height:70px ; margin-right: 30px;" /><%= user.EQUIPO2 %>
                      </td>
                    <% } %>
                  </tr>
                  <% }) %>                     
                  
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="nav-f" role="tabpanel" aria-labelledby="nav-f-tab" tabindex="0">
              <H2>GRUPO F</H2>
              <hr>
              
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">EQUIPO 1</th>
                    <th scope="col">MARCADOR</th>
                    <th scope="col">EQUIPO 2</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <% predi.forEach((user)=> {%>
                    <tr>
                    <% if (user.GRUPO === 'F') { %>
                      <td scope="row">
                          <img src="<%= user.IMAGENEQUIPO1 %>" style="width:100px ; height:70px ; margin-right: 30px;" /><%= user.EQUIPO1 %>
                      </td>
                      <td>
                        <% if (user.MODIFICA === 'S' ||  user.FECHAPARTIDO < fecha) { %>
                          <input  type="text"  name="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>"  value="<%= user.RESULTADO1 %>" style="width: 30px;border-radius: 15px;text-align: center;" readonly> -                     

                          <input  type="text"  name="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" value="<%= user.RESULTADO2 %>" style="width: 30px;border-radius: 15px;text-align: center;" readonly>               
                        <% } else{ %>
                          
                          <input  type="text"  name="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>"  value="<%= user.RESULTADO1 %>" style="width: 30px;border-radius: 15px;text-align: center;" > -                     

                          <input  type="text"  name="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" value="<%= user.RESULTADO2 %>" style="width: 30px;border-radius: 15px;text-align: center;" >               
                        <% } %>
  
                      </td>
                      <td>
                          <img src="<%= user.IMAGENEQUIPO2 %>" style="width:100px ; height:70px ; margin-right: 30px;" /><%= user.EQUIPO2 %>
                      </td>
                    <% } %>
                  </tr>
                  <% }) %>                     
                  
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="nav-g" role="tabpanel" aria-labelledby="nav-g-tab" tabindex="0">
              <H2>GRUPO G</H2>
              <hr>
              
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">EQUIPO 1</th>
                    <th scope="col">MARCADOR</th>
                    <th scope="col">EQUIPO 2</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <% predi.forEach((user)=> {%>
                    <tr>
                    <% if (user.GRUPO === 'G') { %>
                      <td scope="row">
                          <img src="<%= user.IMAGENEQUIPO1 %>" style="width:100px ; height:70px ; margin-right: 30px;" /><%= user.EQUIPO1 %>
                      </td>
                      <td>
                        <% if (user.MODIFICA === 'S' ||  user.FECHAPARTIDO < fecha) { %>
                          <input  type="text"  name="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>"  value="<%= user.RESULTADO1 %>" style="width: 30px;border-radius: 15px;text-align: center;" readonly> -                     

                          <input  type="text"  name="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" value="<%= user.RESULTADO2 %>" style="width: 30px;border-radius: 15px;text-align: center;" readonly>               
                        <% } else{ %>
                          
                          <input  type="text"  name="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>"  value="<%= user.RESULTADO1 %>" style="width: 30px;border-radius: 15px;text-align: center;" > -                     

                          <input  type="text"  name="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" value="<%= user.RESULTADO2 %>" style="width: 30px;border-radius: 15px;text-align: center;" >               
                        <% } %>            
  
                      </td>
                      <td>
                          <img src="<%= user.IMAGENEQUIPO2 %>" style="width:100px ; height:70px ; margin-right: 30px;" /><%= user.EQUIPO2 %>
                      </td>
                    <% } %>
                  </tr>
                  <% }) %>                     
                  
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="nav-h" role="tabpanel" aria-labelledby="nav-h-tab" tabindex="0">
              <H2>GRUPO H</H2>
              <hr>
              
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">EQUIPO 1</th>
                    <th scope="col">MARCADOR</th>
                    <th scope="col">EQUIPO 2</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <% predi.forEach((user)=> {%>
                    <tr>
                    <% if (user.GRUPO === 'H') { %>
                      <td scope="row">
                          <img src="<%= user.IMAGENEQUIPO1 %>" style="width:100px ; height:70px ; margin-right: 30px;" /><%= user.EQUIPO1 %>
                      </td>
                      <td>
                        <% if (user.MODIFICA === 'S' ||  user.FECHAPARTIDO < fecha) { %>
                          <input  type="text"  name="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>"  value="<%= user.RESULTADO1 %>" style="width: 30px;border-radius: 15px;text-align: center;" readonly> -                     

                          <input  type="text"  name="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" value="<%= user.RESULTADO2 %>" style="width: 30px;border-radius: 15px;text-align: center;" readonly>               
                        <% } else{ %>
                          
                          <input  type="text"  name="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO1<%= user.IDPOLLAMUNDIALISTA %>"  value="<%= user.RESULTADO1 %>" style="width: 30px;border-radius: 15px;text-align: center;" > -                     

                          <input  type="text"  name="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" id="RESULTADO2<%= user.IDPOLLAMUNDIALISTA %>" value="<%= user.RESULTADO2 %>" style="width: 30px;border-radius: 15px;text-align: center;" >               
                        <% } %>
  
                      </td>
                      <td>
                          <img src="<%= user.IMAGENEQUIPO2 %>" style="width:100px ; height:70px ; margin-right: 30px;" /><%= user.EQUIPO2 %>
                      </td>
                    <% } %>
                  </tr>
                  <% }) %>                     
                  
                </tbody>
              </table>
            </div>        
          </div>
            <button  class="btn btn-primary btn-lg" type="button" onclick="javascript:sendForm()">Guardar</button>
            <a href="/" class="btn btn-danger btn-lg">Salir</a>
          </div>
      </div>
    </form>
      
    
</body>
<script>
  function sendForm() {
    Swal.fire({
    icon: 'success',
    title: 'Registros Guardados',
    showConfirmButton: false,
    timer: 1500
  },setTimeout(function(){
    document.getElementById("myForm").submit()             
    },1500))
}
</script>
</html>